{% extends "base.html" %}

{% block body %}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ bill['official_title'] }} ({{ bill['bill_id']|upper }})</h2>
        </div>

        <div class="panel-body">
            <p>
                {% if bill['history']['enacted'] %}
                    <span class="label label-success">{{ bill['enacted_as'] }}</span>
                {% endif %}

                {% if bill['history']['active'] %}
                    <span class="label label-success">ACTIVE</span>
                {% else %}
                    <span class="label label-warning">INACTIVE</span>
                {% endif %}

                {% if bill['history']['vetoed'] %}
                    <span class="label label-danger">VETOED</span>
                {% endif %}
            </p>
            
            <p>
                {{ bill['summary_short'] }}
            </p>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <a href="{{ bill['sponsor']['website'] }}">
                            <img width="56" height="64" class="media-object" 
                                src="http://theunitedstates.io/images/congress/225x275/{{ bill['sponsor_id'] }}.jpg" 
                                alt="{{ bill['sponsor']['first_name'] }} {{ bill['sponsor']['last_name'] }} ({{ bill['sponsor']['party'] }},{{ bill['sponsor']['state'] }})">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Sponsor</h4>
                        <p>
                            <h5>{{ bill['sponsor']['first_name'] }} {{ bill['sponsor']['last_name'] }} ({{ bill['sponsor']['party'] }},{{ bill['sponsor']['state'] }})</h5>
                            <strong>Web</strong> <a href="{{ bill['sponsor']['website'] }}">{{ bill['sponsor']['website'] }}</a><br>
                            <strong>Email</strong> <a href="mailto:{{ bill['sponsor']['oc_email'] }}">{{ bill['sponsor']['oc_email'] }}</a><br>
                            <strong>Phone</strong> <a href="tel:{{ bill['sponsor']['phone'] }}">{{ bill['sponsor']['phone'] }}</a><br>
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <span class="label label-default">Introduced On</span> {{ bill['introduced_on'] }}
            </li>
            <li class="list-group-item">
                <span class="label label-default">Last Vote At</span> {{ bill['last_vote_at'] }}
            </li>
            {% for site,url in bill['urls'].iteritems() %}
                <li class="list-group-item">
                    <span class="label label-default">{{ site }}</span>&nbsp;{{ url|urlize }}
                    <!-- <a href="{{ url }}">{{ site }}</a> -->
                </li>                
            {% endfor %}
        </ul>

    </div>

{% endblock %}